body {
  color: #40514E;
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #e29c68;
  font-family: 'Sacramento', cursive;
  font-size: 40px;
  margin: 50px auto 0 auto;
}

h2 {
  color: #e29c68;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  padding-bottom: 10px;
}

h3 {
  color: #B47C53;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #B47C53;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

hr {
    border-color: #B47C53;
    border-style: none;
    border-top-style: dotted;
    border-width: 6px;
    margin: 100px auto;
    width: 4%;
}

p {
  line-height: 2;
}

.top-container {
  background-color: #f0ece2;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #e29c68;
  /* margin: 50px auto auto auto; */
  padding: 50px 0 20px;
}

.bottom-cloud {
  top: 260px;
  left: 290px;
  position: absolute;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.pro {
  font-weight: normal;
}

.skill-row {
  margin: 50px auto;
  text-align: left;
  width: 50%;
}

.reading-skill {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.writing-skill {
  float: right;
  margin-left: 30px;
  width: 25%;

}

.desc {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;

}

.btn {
  background: #714E34;
  background-image: -webkit-linear-gradient(top, #714E34, #714E34);
  background-image: -moz-linear-gradient(top, #714E34, #714E34);
  background-image: -ms-linear-gradient(top, #714E34, #714E34);
  background-image: -o-linear-gradient(top, #714E34, #714E34);
  background-image: linear-gradient(to bottom, #714E34, #714E34);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.contact-me {
  margin: 20px auto 20px auto;
  line-height: 2;
}

.profile {
  margin: 20px auto 20px auto;
}

.profilePicture {
  border-radius: 100%;
}

.intro {
  width: 30%;
  margin: auto;
}

.mountain {
  width: 50%;
}
